html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  color: white !important;
}

.App {
  min-height: 100vh;
  background-color: #101519;
  background-image: url('static/img/layered-waves-haikei-7.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Navbar */
#navbar {
  background: transparent !important;
  border: none;
  box-shadow: none;
}

#navbar .navbar-brand,
#navbar .nav-link {
  color: rgb(210, 209, 209);
  border-radius: 12px;
  margin: 15px;
  font-size: 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  position: relative;
  color: #33E3FF; 
}

.navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  background-color: #33E3FF;
  height: 3px;
  width: 0;
  left: 50%;
  bottom: 0px;
  transition: 0.3s;
  transform: translateX(-50%);
}

.navbar-nav .nav-link:hover:after {
  width: 90%;
  text-align: center;
}

#navbar .nav-link:hover {
  color: rgb(255, 255, 255);
}

/* Header */
#header-img {
  background-color: #001220;
}

/* Blockchain icons */
.icon-gradient {
  background: linear-gradient(45deg, #a10e84, #09b1c7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Para compatibilidad con otros navegadores */
}


/* Hover blockchain */
.custom-hover {
  transition: all 0.5s ease;
  box-shadow: 1px 1px 7px #ffffff57;
}

.custom-hover:hover {
  box-shadow: 3px 3px 40px #ffffff57;
  transform: translateY(-5px);
  transition: all 0.1s ease-in-out;
}


.card-hover {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Hover equipo */
.card-hover .card-text-hover,
.card-hover .card-title-hover {
  transition: color 0.1s ease-in;
}

.card-hover:hover {
  background-color: #201F1F !important;
}

.card-hover:hover .card-text-hover {
  color: rgb(255, 255, 255) !important;
}

.card-hover:hover .card-title-hover {
  color: #33E3FF !important;
}

.custom-card img{
  width: 100%;
  height: auto;
  max-width: 80px;
  max-height: 80px;
}

/* Margin entre elementos */
.margin-container {
  margin-top: 200px !important;
}

.spacer {
  backdrop-filter: blur(5px);
  background-color: rgba(34, 33, 33, 0.3); /* Fondo blanco con 30% de opacidad */
}
